<div class="row col-sm-6">
  <%= form_for @car, :html => {:multipart => true} do |f| %>
    <div class="form-group">
      <%= f.label :make %>
      <%= f.text_field :make, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :model, 'Model' %>
      <%= f.text_field :model, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :year %>
      <%= f.text_field :year, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :color, 'Color' %>
      <%= f.text_field :color, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= f.label :car_image, "Car Image" %>
      <%= f.file_field :car_image %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
    &nbsp;or
    <%= link_to 'Cancel', users_path %>
  <% end %>
</div>